[tool.towncrier]
package = "sniffio"
filename = "docs/source/history.rst"
directory = "newsfragments"
underlines = ["-", "~", "^"]
# COOKIECUTTER-TRIO-TODO: fill in the URL below to point to your issue tracker:
issue_format = "`#{issue} <https://github.com/ACCOUNT/REPO/issues/{issue}>`__"
